body {
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: stretch;
    background-color: lightgray;
}

header {
    width: 100%;
    color: lightgray;
    background-color: black;
}

main {
    width: 100%;
    background-color: lightblue;
}

footer {
    width: 100%;
    padding: 15px;
    align-items: center;
    color: white;
    background-color: black;
}

section {
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: lightsalmon;
}

nav {
    width: 100%;
}

nav a {
    color: lightgray;
}

h1 {
    margin: 100px;
}

ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 0 15px;
}

.no-margin-p p {
    margin: 0;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.align-center {
    align-items: center;
}

#header-picture {
    height: 80vh;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./public/site/bg.jpg");
}

#about {
    width: 100%;
    display: flex;
    flex-flow: row;
    background-color: lightgray;
}

.about-item {
    margin: 50px;
}

#about-photo {
    position: absolute;
    transform: translate(300px, 50px);
    left: 200px;
}

#about-text {
    width: 25vw;
    min-width: 200px;
}

#portfolio {
    width: 100%;
    align-items: center;
    background-color: #e6e6e6;
}

.content {
    display: flex;
    justify-items: center;
    align-items: center;
}

.project {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    margin: 16px;
    padding: 32px;
    background-color: white;
}

.window {
    min-height: 150px;
    width: 600px;
    border: thick solid black;
    border-radius: 15px;
    position: absolute;
    align-items: center;
    background-color: lightgray;

    opacity: 0;
}

#contacts {
    height: 40vh;
    width: 100%;
    background-color: white;
}

#social {
    margin: 15px;
}
